# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo

# Virtual Environments
.env
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PaddleOCR specific, checkpoints, and models
output/
pretrained/
result_model/
reulst/
log/
PaddleOCR/
__MACOSX/
*.pdparams
*.pdopt
*.pdmodel
*.pdiparams
*.pdiparams.info
*.zip
*.tar.gz
*.7z
*.rar
*.tar
*.tgz
*.tar.gz.tar

# Data, datasets, images, and zips
/data_test/
/dataset/
/data_set/
/dataset_finetune/
/dataset_kaggle/
/downloaded_images_all/
Paddle-Lite/

cek_poin_2/
dataset_merged/
dataset_combined/
dataset_finetune.zip
dataset_valid_for_train/
output_test_2/
dataset_finetune.zip 